<a href="https://colab.research.google.com/github/russellcedullo/58002-OOP/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two

Python Comment

In [ ]:
#This is a comment
  print("Hello, World!")
    #Hello, World!

Naming Variable

In [ ]:
#Single variable with single value
x=1
y=2 
print(x)
print(y)
#To multiply variables with a single value

a=b=c="Edwin Gatus"
#Multiple variables with a single value is accepted in python
print(a)
print(b)
print(c)
#Multiple variables with multiple values
e,f,g=1,2,3
print(e)
print(f)
print(g)

u="jones"
v='jones'
print(u)
print(v)

1
2
Edwin Gatus
Edwin Gatus
Edwin Gatus
1
2
3
jones
jones

Casting

In [ ]:
p=int(5)
p

5

Type () function
 = font size for texts in notes

In [ ]:
f= "alan"
g=4.56
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Contenation using + symbol

In [ ]:
k= "enjoying"
j="Python Programming is "
print("Python programming is "+k)
print(j+k)

Python programming is enjoying
Python Programming is enjoying