<a href="https://colab.research.google.com/github/russellcedullo/58002-OOP/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop statement

In [20]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [25]:
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Break Statement [display only Thusday]

In [22]:
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

For loop through string

In [77]:
for x in "week":
  print(x)

w
e
e
k

For range() function

In [36]:
for x in range(6):
    print(x)
for x in range(2, 6):
    print(x)

0
1
2
3
4
5
2
3
4
5

Nested Loops

In [37]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While Loops

In [38]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

Python Break Statement

In [65]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

Python Continue Statement

In [69]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

Python While loop with else statement

In [72]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Activity 1
Create a Python program that displays:
Hello 0-10

In [78]:
Hello = ["Hello"]
number = ["0","1","2","3","4","5","6","7","8","9","10"]
for x in Hello:
  for y in number:
    print(x, y)
for i in range(11):
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Activity 2: Create a Python program that displaysintegers less than 10 but not less than 3

In [80]:
a=9
while a >= 3:
  print(a)
  a-=1
for a in range(3, 10):
    print(a)

9
8
7
6
5
4
3
3
4
5
6
7
8
9