<a href="https://colab.research.google.com/github/russellcedullo/58002-OOP/blob/main/OPERATIONS_AND_EXPRESSIONS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Booleans represent one or two values.

True or False

When you evaluate two values, The Python will evaluate and return the Boolean answer

*   Comparison / Relational
*   Logical
*   Identity

In [4]:
print(10>9)
print(10==9)
print(10<9)

a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True
False
False
True

Bool (Function)

In [ ]:
print(bool(1))
print(bool("Edwin Gatus"))
print(bool(0))
print(bool(None))
print(bool[])

The bool function allows you to evaluate any value and give you True or False in return.

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

Python can also return a Boolean / Functions can return a boolean

In [ ]:
def myFunction(): 
    return True
  print(myFunction())

In [19]:
def myFunction():
    return True
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Python can also execute based on your answer

In [22]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators are used to perform operations on variables and value.

* In the example below, use the r operator add together two values:

In [28]:
print(10+5)
print(10-5)
print(10%5)
print(10//3)
print(10/3)
print(10**2)
print(10*5)
print(10^2)

15
5
0
3
3.3333333333333335
100
50
8

Python Bitwise Operators
* Bitwise operators work on bits and performs bit by bit operation. Assume if a = 60, and b = 13, Now in binary format they will be as follows

In [40]:
a = 60
b = 13
a >> 1

30

Python Assignment Operators

In [44]:
x=0
x+=3 #same as x = x + 3
x-=3 #same as x = x - 3
x*=3 #same as x = x * 3
x/=3 #same as x = x / 3
x%=3 #same as x = x % 3

0
3
0
0
0.0
0.0

Logical Operators

In [46]:

x=True
y=False

True

In [48]:
print(x)

True

In [49]:
print(x and y)
print(x or y)
print(not(x or y))

False
True
False

Identity Operators

In [50]:
print(x is y)
print(x is not y)

False
True

Application 1 Create an arithmetic calculator

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b
print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")
2
operation = input("Enter operation(+,-,*,/): ")

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

if operation == '+':
    print(num1, "+", num2, "=", add(num1, num2))

elif operation == '-':
    print(num1, "-", num2, "=", subtract(num1, num2))

elif operation == '*':
    print(num1, "*", num2, "=", multiply(num1, num2))

elif operation == '/':
    print(num1, "/", num2, "=", divide(num1, num2))
else:
    print("Invalid Input")