<a href="https://colab.research.google.com/github/russellcedullo/58002-OOP/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two

Python Comment

In [ ]:
#This is a comment
  print("Hello, World!")
    #Hello, World!

Naming Variable

In [ ]:
#Single variable with single value
x=1
y=2 
print(x)
print(y)
#To multiply variables with a single value

a=b=c="Edwin Gatus"
#Multiple variables with a single value is accepted in python
print(a)
print(b)
print(c)
#Multiple variables with multiple values
e,f,g="Tang","Ina","Mo Edwin Gatus"
print(e)
print(f)
print(g)

u="Edwin"
v='Edwin'
print(u)
print(v)

Casting

In [19]:
p=int(5)
p

5

Type () function
 = font size for texts in notes

In [20]:
f= "edwin"
g=4.56
print(type(f))
print(type(g))

<class 'str'>
<class 'float'>